body {
  background: #E5EBF1;
  color: #0B133F;
}

.well {
background-color: #C8E9DA;
border-style: double;
border-width: 10px;
border-color: #BECBCF;
}

a {
  color: #0B133F;
}
.comment-count {
  float: right;
}
.comment-count a {
  color: black;
}

ul.posts div.post {
  display: inline-block;
	width: 100%;
	vertical-align: top;
}
