---
layout: default
---

<div class="well">
  <h2>Blogs</h2>
  <ul class="pager">
    {% if paginator.next_page %}
    <li class="previous">
      <a href="/page{{paginator.next_page}}">&larr; Older</a>
    </li>
    {% endif %}

    {% if paginator.page == 1 %}
    {% elsif paginator.page == 2 %}
    <li class="next">
      <a href="/">Newer &rarr;</a>
    </li>
    {% else %}
    <li class="next">
      <a href="/page{{paginator.previous_page}}">Newer &rarr;</a>
    </li>
    {% endif %}
  </ul>
  <ul class="posts">
    {% for post in paginator.posts %}
    {% include post_as_li.html %}
    {% endfor %}
  </ul>
</div>
{% include disqus_count.html %}
