<!DOCTYPE html>
<html>
<head>
  {% if page.title %}
  <title>{{ page.title }} - {{ site.title }}</title>
  {% else %}
  <title>{{ site.title }}</title>
  {% endif %}

  <meta name="author" content="LI Daobing" />
  {% if page.description %}
  <meta name="description" content="{{ page.description }}" />
  {% else %}
  <meta name="description" content="{{site.title }} {{ page.title }}" />
  {% endif %}

  {% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords }}" />
  {% endif %}

  <meta name="robots" content="noodp, nydir" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <link rel="alternate" type="application/atom+xml" title="LI Daobing's Blog - Atom" href="http://blog.lidaobing.com/atom.xml" />
  <link rel="alternate" type="application/rss+xml" title="LI Daobing's Blog - RSS" href="http://blog.lidaobing.com/rss.xml" />

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" type="text/css" href="/css/screen.css">
    {% include google_analytics.html   %}
</head>

<body>
  <div class="container">
    {% include header.html %}
    <div class="row">
      <div id="main" class="span{% if page.no_sidebar %}12{% else %}9{% endif %}">
          <div id="cse"></div>
        <div class="well">
            {{ content }}
        </div>
      </div>
      {% unless page.no_sidebar %}
        <div id="sidebar" class="span3">
        {% include sidebar.html %}
        </div>
      {% endunless %}
    </div>

    <div class="row">
      <div class="span12">
        {% include footer.html %}
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript">var jiathis_config = {data_track_clickback:true};</script>
<script type="text/javascript" src="http://v2.jiathis.com/code/jiathis_r.js?type=left&amp;move=0&amp;btn=l2.gif&amp;uid=1616235" charset="utf-8"></script>
</body>
</html>
